* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 2.5rem;
    max-height: auto;
    max-width: auto;
    background-color: grey;
}
div.logo {
    width: 10px;
    height: 10px;
    border: 2px solid red;
    z-index: 1;
    display: inline;
    
}
.a {
    background-image: url("./AC_Logo_Placeholder.jpg")
}

body {
    background-color: #EEEEEE;
    font-family: Georgia, serif;
    margin: 0px;
}

h2 {
    font-family: Garamond, serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h1 {
    font-family: Garamond, serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

li {
    font-family: Garamond, serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    list-style: none;
}

.quick-links {
    text-align: right;
}

    .quick-links li + li::before {
        content: "/";
        margin: 2px;
    }

    .quick-links li {
        list-style: none;
        display: inline;
        margin: 10px;
    }

li a {
    font-family: Georgia, serif;
    font-size: 20px;
    text-decoration: none;
    opacity: 1;
    margin-top: 20px;
    padding-right: 10px;
}

.bio {
    background-image: url("./Houston_ACogburn.jpg");
    background-size: 100%;
    overflow: hidden;
    width: 100%;
    height: 800px;
    opacity: 60%;
    left: 0;
    right: 0;
    margin: 0;
}


div.bio {
    display: block;
}

div.bio-text {
    top: 30%;
    left: 10%;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(128, 128, 128, 0.8);
    padding: 1rem;
    line-height: 2.5rem;
}

div.project-odd, div.project-even {
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(214, 226, 245, 0.35);
    padding: 1rem;
    line-height: 2.5rem;
}

div.project-even {
    background-color: rgba(128, 128, 128, 0.35);
    padding: 1rem;
    line-height: 2.5rem;
}
