* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
nav {
    margin: 0px;
    width: 80%;
    min-height: 100px;
    max-height: auto;
    min-width: auto;
    max-width: auto;
    margin-top: 5px;
    background-color: grey;
}
#logo {
    margin-left:10px;
}
body
{
    background-color: #EEEEEE;
    font-family: Georgia, serif;
    margin: 0px;
}
h1 {
    font-family: Garamond, serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.breadcrumb{
    text-align: right;
}

.breadcrumb li+li::before{
    content: "/";
    margin: 2px;
}
.breadcrumb li{
    list-style: none;
    display: inline;
    margin: 10px;
}
li a {
    font-family: Georgia, serif;
    font-size: 20px;
    text-decoration: none;
    opacity: 1;
    margin-top: 20px;
    padding-right: 10px;
}
.bio {
    background-image: url("./Houston_ACogburn.jpg");
    background-size: contain;
    overflow: hidden;
    width: 1400px;
    height: 800px;
}

.project-odd {
    display: block;
}